#!/sbin/openrc-run

description="SBFspot upload daemon"
#pidfile="/run/SBFspotUploadDaemon.pid"
command="/SBFspotUploadDaemon"
command_opts=" -c /SBFspotUpload.cfg"

depend() {
    need net
}

start()
{
    ebegin "Starting SBFspotUploadDaemon"
    start-stop-daemon --start --background \
    --exec $command \
    -- $command_opts \
    #--make-pidfile --pidfile $pidfile
    eend $?
}

stop() {
    ebegin "Stopping SBFspotUploadDaemon"
    start-stop-daemon --stop \
    --exec $command \
    #--pidfile $pidfile
    eend $?
}

reload() {
    ebegin "Reloading SBFspotUploadDaemon"
    start-stop-daemon --exec $command \
    #--pidfile $pidfile \
    -s 1
    eend $?
}
